<% include partials/header.ejs %>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %>!!</p>

  
 
  <p>Project 1 - Green Party of Ontario Provincial Election</p> 
  <p> Tripled the regional vote and was higher than provincial average.</p> 
  
  <img(src='/images/greenpartylogo.png' alt='Green Party of Ontario Logo' width='90')</p> 
  
  
  <p> Project 2 = Protect the Bell Creek Water Shed</p> 
  <p> Negotiated the protection of 5 acres of landed on a area to be developed into residential units.</p> 
  
  <img(src='/images/bell_creek_logo.jpg' alt='Bell Creek Watershed Logo' width='90')> 
  <p>
  <p> Project 3 - Quinte Conservations Tree Planting  </p>
  <p> Finsihed goal of planting 2600 trees locally in urban spaces.</p> 
 
  <img(src='/images/treeplanting.png' alt='Quinte Conservation Tree Planting' width='90'> 

<% include partials/footer.ejs %>